@charset "utf-8";
@import url('notosanskr/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Nanum+Gothic+Coding&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-width: 120rem;
  padding-top: 8rem;
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;

  color: #444;
}

/*common*/
.pagew {
  position: relative;
  display: block;
  width: 120rem;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  position: relative;
  display: block;

  width: 100%;
  clear: both;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1.5px) brightness(70%);
  z-index: 9999999;
}

.modal-box {
  width: 650px;
  height: 230px;
  background: linear-gradient(210deg, rgba(255, 212, 212, .8), rgba(238, 219, 255, .8) 70%),
    linear-gradient(0deg, rgba(236, 170, 85, .5), rgba(255, 255, 255, .2) 50%);
  box-shadow: 3px 10px 0px 3px rgba(0, 0, 0, .3);
}

.modal-box .__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, .7);
  background: linear-gradient(210deg, rgba(236, 170, 83, .8), rgba(199, 136, 255, .8) 80%);
}

@keyframes light_m {
  0% {
    color: rgba(255, 230, 0, 0);
  }

  50% {
    color: rgba(255, 230, 0, 1);
  }

  100% {
    color: rgba(255, 230, 0, 0);
  }
}

.modal-box .__top h4 {
  width: 70%;
  height: 100%;
  padding: .4rem 0 0 20px;
  font-family: Dosis, sans-serif;
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: rgba(255, 230, 0, 1);
  text-shadow: 3px 0px rgba(236, 170, 83, 1);

  animation: light_m 1s infinite;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.--icon-alert {
  font-family: Dosis, sans-serif;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 0px 1px rgba(184, 109, 10, .9),
    -1px -2px 0px 1px rgba(184, 10, 94, 0.5);
  background: linear-gradient(100deg, rgba(255, 167, 35, 0.9), rgb(254, 86, 67, 1));
  background-size: 500%;

  animation: gradient 3s ease infinite;
}

.modal-box .__top .--close {
  width: 45px;
  height: 100%;
  color: white;
  font-size: 2rem;
  background: linear-gradient(60deg, rgba(204, 38, 177, .8), rgba(199, 136, 255, .8), rgba(204, 38, 177, .8));
  cursor: pointer;
  background-size: 500%;
}

.modal-box .__top .--close:hover {
  animation: gradient 5s ease infinite;
}

.modal-box .__bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 5rem 3.5rem;
}

.modal-box .__bottom .--left {
  width: 420px;
}

.modal-box .__bottom .--left .--visual-icon {
  display: block;
  width: 45px;
  height: 45px;
  margin-left: -1rem;
  background: url('../images/visual_set.png') no-repeat;

  animation: move_p 2s step-end infinite;
}

@keyframes move_p {
  0% {
    background-position: 0px 0;
  }

  25% {
    background-position: -35px 0;
  }

  50% {
    background-position: -71px 0;
  }

  75% {
    background-position: -106px 0;
  }

  100% {
    background-position: 0px 0;
  }
}

.modal-box .__bottom .--left p {
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 1.6;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .9);
}

.modal-box .__bottom .--right {
  font-family: Dosis, sans-serif;
  padding-top: 6rem;
}

.modal-box .__bottom .--right>.--confirm {
  float: right;
  width: 105px;
  height: 45px;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  background: rgba(119, 119, 119, 0);
  box-shadow: 1.5px 1.5px 0 1.5px rgba(0, 0, 0, .8),
    -1.5px -1.5px 0 1.5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.modal-box .__bottom .--right>.--confirm:hover {
  background: rgba(119, 119, 119, 1);
  box-shadow: 1.5px 1.5px 0 1.5px rgba(0, 0, 0, .8);
  transition: all .3s;
}

@media screen and (max-width: 680px) {
  .modal-box {
    width: 90vw;
    height: 45vw;
  }
}

@media screen and (max-width: 680px) {
  .modal-box .__bottom {
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }

  .modal-box .__bottom .--left {
    width: 100%;
  }

  .modal-box .__bottom .--right {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .modal-box {
    height: 290px;
  }

  .modal-box .__bottom {
    padding: 1rem 3rem 5rem 1.5rem;
  }

  .modal-box .__bottom .--left .--visual-icon {
    margin: 0 auto;
  }

  .modal-box .__bottom .--left {
    height: 90%;
    overflow: hidden;
  }

  .modal-box .__bottom .--left p {
    text-align: center;
  }

  .modal-box .__bottom .--right {
    float: none;
    margin: 0 auto;
  }

  .modal-box .__bottom .--right>.--confirm {
    width: 90px;
    height: 40px;
  }
}

@media screen and (max-width: 340px) {
  .modal-box .__bottom .--left p {
    letter-spacing: -1px;
  }
}
.button__gohome {
  position: fixed;
  left: 10vw;
  top: 10vh;
  display: block;
  width: 50px;
  height: 50px;
  padding: 17px 13px;
  border-radius: 50%;
  background: rgba(199, 136, 255, .8);
  cursor: pointer;
}
/* ---------------------- */
.wrap {
  position: relative;
  display: block;
}

/*header*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  transition: height 0.5s;
  z-index: 999999;
}
.header-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
}
.header_open {
  height: 40rem;
}
.logo {
  position: absolute;
  left: 5.5rem;
  top: 2rem;
  display: block;
  width: 15rem;
  height: 3.9rem;
  background: url('../images/logo.png') no-repeat center;
}
.gnb {
  position: absolute;
  left: 0;
  top: 8rem;
  display: block;
  width: 100%;
  font-size: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.depth1 {
  position: relative;
  display: inline-block;
  margin-top: -8rem;
}
.depth1>li {
  position: relative;
  display: block;
  width: 18rem;
  float: left;
}
.mainmenu {
  position: relative;
  display: block;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 8rem;
  text-align: left;
  color: #000;
}
.mainmenu:hover {
  color: #ed1c24;
}
.depth2 {
  position: relative;
  display: block;
  padding: 40px 0;
}

.depth2>li {
  display: block;
}

.depth2>li>a {
  display: block;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 3rem;
  text-align: left;
  color: #fff;
}

/* 포커스 유지 체크 */
.depth1>li:hover>.mainmenu {
  color: #ed1c24;
}
.lang {
  position: absolute;
  right: 7rem;
  top: 3.5rem;
  display: block;
}
.lang-list {
  position: relative;
  display: block;
}
.lang-list>li {
  display: block;
  float: left;
}

.lang-list>li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0.2rem;
  width: 0.1rem;
  height: 1.1rem;
  background: #999;
}
.lang-list>li:last-child:after {
  content: none;
}
.lang-list>li>a {
  position: relative;
  display: block;
  margin: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: #888;
}
.lang-list>li:last-child>a {
  margin-right: 0;
}
.lang-focus {
  color: #000 !important;
}
/*visual*/
.visual {
  position: relative;
  display: block;
  height: 91rem;
  padding-top: 18rem;
  overflow: hidden;
  background: url('../images/img_visual01.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.visual-tit {
  position: relative;
  display: block;
  padding-top: 5.5rem;
  font-size: 7rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}
.visual-tit:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6rem;
  height: 0.5rem;
  background: #ed1c24;
}
.visual-tit>span {
  position: relative;
  display: block;
  margin-bottom: 2rem;
}
.visual-txt {
  position: relative;
  display: block;
  margin-top: 4.5rem;
  font-size: 2.1rem;
  font-weight: 100;
  color: #fff;
}
.move-cate {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  display: block;
  width: 3.3rem;
  height: 3.3rem;
  font-size: 0;
  background: url('../images/bg_common.png') no-repeat;
  background-position-X: -12.2rem;
  background-position-Y: 0;
  transform: translateX(-50%);
}
/*business category*/
.cate {
  position: relative;
  display: block;
  padding-top: 12rem;
  padding-bottom: 13.5rem;
}
.cate-tit {
  position: relative;
  display: block;
  padding-bottom: 3rem;
  font-size: 4.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: #111;
}

.cate-tit:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3.7rem;
  height: 0.4rem;
  background: #f00;
  transform: translateX(-50%);
}
.cate-desc {
  position: relative;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 6.5rem;
  text-align: center;
  font-weight: 100;
}
.cate-list {
  position: relative;
  display: block;
  overflow: hidden;
}
.cate-list>li {
  float: left;
  position: relative;
  display: block;
  width: 20%;
  height: 42rem;
  background: url('../images/img_business.png') no-repeat;
  background-position-Y: 0;
}

.cate-list>li:nth-child(1) {
  background-position-X: 0;
}
.cate-list>li:nth-child(2) {
  background-position-X: -24rem;
}
.cate-list>li:nth-child(3) {
  background-position-X: -48rem;
}
.cate-list>li:nth-child(4) {
  background-position-X: -72rem;
}
.cate-list>li:nth-child(5) {
  background-position-X: -96rem;
}
.cate-list>li>a {
  position: relative;
  display: block;
  height: 100%;
  background: rgba(243, 127, 37, 0.0);
  transition: background 0.3s;
}
.cate-list>li>a:hover {
  background: rgba(243, 127, 37, 1.0);
}
.cate-txt {
  position: relative;
  display: block;
  padding-top: 10rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 100;
  color: #fff;
}
.cate-img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 8.5rem;
  visibility: hidden;
  opacity: 0;
  background: url('../images/bg_common.png') no-repeat;
  transition: opacity 0.5s;
}
.cate-list>li>a:hover .cate-img {
  visibility: visible;
  opacity: 1.0;
}
.cate-list>li:nth-child(1) .cate-img {
  width: 12.3rem;
  height: 11.2rem;
  background-position-x: -16.8rem;
  background-position-y: 0;
}
.cate-list>li:nth-child(2) .cate-img {
  width: 12.3rem;
  height: 11.2rem;
  background-position-x: -30.1rem;
  background-position-y: 0;
}
.cate-list>li:nth-child(3) .cate-img {
  width: 13rem;
  height: 10.6rem;
  background-position-x: 0;
  background-position-y: -12.2rem;
}
.cate-list>li:nth-child(4) .cate-img {
  width: 13rem;
  height: 11.1rem;
  background-position-x: -14rem;
  background-position-y: -12.2rem;
}
.cate-list>li:nth-child(5) .cate-img {
  width: 10.2rem;
  height: 10.5rem;
  background-position-x: -28rem;
  background-position-y: -12.2rem;
}
/* bulletin board */
.board {
  position: relative;
  display: block;
  padding: 5.5rem 0;
  background: linear-gradient(to right, #ec1c24 50%, #58595b 50%);
}
.board .pagew {
  display: table;
  table-layout: fixed;
}
.board-box {
  position: relative;
  display: table-cell;
  width: 50%;
}
.board-box h3 {
  position: relative;
  width: 50rem;
  margin-bottom: 5rem;
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.board-list {
  position: relative;
  display: block;
  width: 50rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.board-list>li {
  position: relative;
  display: block;
  padding: 2.2rem 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.board-list>li>a {
  position: relative;
  display: block;
  overflow: hidden;
}
.pl-100 {
  padding-left: 10rem;
}
.board-txt {
  position: relative;
  display: block;
  float: left;
  width: 37rem;
  font-weight: 100;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
.board-more {
  position: relative;
  display: block;
  float: right;
  width: 7.5rem;
  height: 2.3rem;
  font-size: 0;
  background: url('../images/bg_common.png') no-repeat;
  background-position: 0 -4.9rem;
}

/*고객센터*/
.cs {
  position: relative;
  display: block;
  padding-top: 6rem;
  padding-bottom: 10rem;
  background: #f8f8f8;
}
.cs .pagew {
  display: table;
  table-layout: fixed;
}
.cs-box {
  position: relative;
  display: table-cell;
  width: 50%;
  padding: 4rem 6rem;
}
.cs-bg-1 {
  background: #fff url('../images/bg_faq.png') no-repeat;
  background-position: 38rem 50%;
  border-right: 0.1rem solid #f8f8f8;
}
.cs-bg-2 {
  background: #fff url('../images/bg_custom.png') no-repeat;
  background-position: 43rem 50%;
  border-left: 0.1rem solid #f8f8f8;
}
.cs-tit {
  position: relative;
  margin-bottom: 2.2rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
}
.cs-desc {
  display: block;
  font-size: 1.5rem;
  font-weight: 100;
  color: #000;
}

/*about*/
.about {
  position: relative;
  display: block;
  padding: 10rem 0;
  background: #fff;
}
.about-top {
  margin-bottom: 5.5rem;
}
.about-top>div {
  position: relative;
  float: left;
  width: 50%;
  height: 37rem;
  overflow: hidden;
}
.about-cont {
  padding-top: 4rem;
}
.about-tit {
  margin-bottom: 5.5rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1;
  color: #111;
}
.about-box {
  position: relative;
  display: block;
  padding-left: 10rem;
  padding-right: 2.5rem;
}
.about-box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1.2rem;
  width: 3.7rem;
  height: 0.5rem;
  background: #ed1c24;
}
.about-desc {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.4;
  color: #111;
}
.about-txt {
  position: relative;
  display: block;
  font-size: 1.5rem;
  font-weight: 100;
  color: #444;
}
.about-img {
  background: url('../images/img_about.png') no-repeat center;
  background-size: cover;
}
.about-bottom {
  position: relative;
  display: block;
  text-align: center;
  font-size: 0;
}
.about-bottom a {
  position: relative;
  display: inline-block;
  width: 11rem;
  padding-top: 13.5rem;

  font-size: 2.2rem;
  font-weight: 500;
  white-space: nowrap;
  color: #111;
}
.about-bottom a:nth-child(1) {
  background: url('../images/bg_icon.png') no-repeat;
  background-position: 0 0;
  margin-right: 21.5rem;
}
.about-bottom a:nth-child(2) {
  background: url('../images/bg_icon.png') no-repeat;
  background-position: -11.5rem 0;
}
.about-bottom a:nth-child(3) {
  background: url('../images/bg_icon.png') no-repeat;
  background-position: -22.8rem 0;
  margin-left: 21.5rem;
}

/*footer*/
.footer {
  position: relative;
  display: block;
  background: #4e4e4e;
  padding: 5rem 0;
}
.f-left {
  position: relative;
  float: left;
  width: 26rem;
}
.f-right {
  position: relative;
  float: left;
}
.f-txt {
  display: block;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 100;
  color: #c3c3c3;
}

.f-right .f-txt:last-child {
  margin-bottom: 0;
}